body {
	background: #eee;
	font-family: Geneva, Lucida Sans, Lucida Grande, Lucida Sans Unicode, Verdana, sans-serif;
	font-size: 14px;
	line-height:18px;
}
a {
	text-decoration: none;
	color: red;
}
a:hover {
	border-bottom: 1px dotted #fff;
}
/* ------------------------------------------------------------------------------------------------------------------------
 * Header
 */
.header {
	background: -webkit-linear-gradient(top, #689da8 0%,#7ab0bc 100%);
	background: -moz-linear-gradient(top, #689da8 0%,#7ab0bc 100%);
	background: -o-linear-gradient(top, #689da8 0%,#7ab0bc 100%);
	background: -ms-linear-gradient(top, #689da8 0%,#7ab0bc 100%);
	background: linear-gradient(top, #689da8 0%,#7ab0bc 100%);
	/* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#689da8', endColorstr='#7ab0bc',GradientType=0 );
	/* IE6-9 */
	height: 51px;
	padding-top: 44px;
	border-bottom: 1px solid #679ca8;
	-webkit-box-shadow: 0 1px 0 #fff, inset 0 -1px 2px rgba(0,0,0,.2);
	-moz-box-shadow: 0 1px 0 #fff, inset 0 -1px 2px rgba(0,0,0,.2);
	box-shadow: 0 1px 0 #fff, inset 0 -1px 2px rgba(0,0,0,.2);
}

.header h1 a {
	text-indent:-99999px;
	background: url('../images/trashsquare.png') no-repeat;
	width: 187px;height: 45px;
	display: block;
}

.header h1 a:hover{
	border: none;
}

.main-navigation {
	margin-top: 7px;
}
.main-navigation > ul > li {
	float: left;
	margin-right: 80px;
	line-height:26px;
}

.main-navigation > ul > li:last-child{
	margin-right: 0;
}
.main-navigation > ul > li > a {
	color: #fff;
	padding-top: 7px;
	display: block;
	float: left;
}
.main-navigation > ul > li:before {
	content: '';
	float: left;
	display: block;
	padding-left: 7px;
}
li.classement:before {
	background: url('../images/icn_stat_white.png') no-repeat;
	width: 34px;
	height: 26px;
}
li.profil:before {
	background: url('../images/icn_profil_white.png') no-repeat;
	width: 30px;
	height: 33px;
	
}
li.code:before {
	background: url('../images/icn_code_white.png') no-repeat;
	width: 22px;
	height: 30px;
}
li.map:before {
	background: url('../images/icn_pin_white.png') no-repeat;
	width: 15px;
	height: 35px;
}

ul.connexion{
	margin-top: 19px;
}

ul.connexion li{
	float: left;
	margin-left: 20px;
	color: #497d89;
}

ul.connexion li a{
	color: #FFF;
}

ul.connexion li a:hover{
	border-bottom: 1px dotted #FFF;
}

/* ------------------------------------------------------------------------------------------------------------------------
 * Contenu
 */
.contenu {
	margin-top: 60px;
}
h1 {
	font-size: 23px;
	color: #59848e;
	font-weight: bold;
	margin-bottom: 20px;
}
h2 {
	font-size: 23px;
	color: #59848e;
	font-weight: bold;
	margin: 20px 0 30px 0;
	margin-top: 40px;
}
h3 {
	font-size: 18px;
	color: #59848e;	
	margin: 0 0 30px 0;
	margin-top: 40px;
}
p.classe {
	font-size: 16px;
	color: #59848e;
	margin-bottom: 20px;
}

.profile_menu li {
	display: block;
	background: #7ab0bc;

	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;

	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	-ms-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
	padding: 8px 5px;
	margin-bottom: 10px;
	position: relative;
}
.profile_menu li.param:after {
	content: '';
	background: url('../images/icn_param_white.png') 0px 0;
	width: 35px;height: 25px;
	display: block;
	position: absolute;
	right: 10px;
	top: 5px;
}
.profile_menu li.checkin:after {
	content: '';
	background: url('../images/icn_checkin_white.png') 0px 0;
	width: 31px;height: 25px;
	display: block;
	position: absolute;
	right: 12px;
	top: 5px;
}
.profile_menu li a {
	color: #fff;
	display:block;
}
.profile_menu li:hover {
	background: #689ea9;
}
.profile_menu li a:hover {
	border: none;
}
.poubelle {
	float: left;
	text-indent: -9999px;
	background:url('../images/illu_trash.png');
	width: 70px;
	height:101px;
}
/* progress bar steps */
.ui-progress {

}

.scores{
	background: #FFF;
	border: 1px solid #30474c;
	
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	
	margin-top: 40px;
}

.scores table th, .scores table td{
	text-align: center;
	/* border: 1px solid red; */
}

.scores table td{
	color: #59848e;
	font-weight: bold;
	position: relative;
	padding: 20px;
}

.scores table td:last-child{
	text-align: left;
}

.scores table td img{
	position: absolute;
	right: 15px;
}

.scores table tr th img{
	margin: 20px 40px 20px 35px;
}

.scores a{
	display: block;
	margin-left: 30px;
	margin-top: 20px;
	margin-bottom: 20px;
	color: #59848e;
	font-weight: bold;
	font-size: 11px;
	width: 145px;
}

.scores a:hover{
	border-bottom: 1px dotted #59848e;
}

.grade{
	height: 105px;
	position: relative;
	margin-bottom: 20px;
}

.grade img{
	position: absolute;
	bottom: 15px;
	left: 0;
}

.grade.first img{
	bottom: 0;
}

.grade p{
	position: absolute;
	bottom: 15px;
	margin-top: -52px;
	right: 0;
	width: 145px;
	color: #585858;
	font-size: 12px;
}

.grade span{
	display: block;
	line-height: 3em;
	color: #59848e;
	font-weight: bold;
}

form{
	position: absolute;
	width: 1000px;
	height: 200px;
	padding: 10px 0;
	border: 1px solid #30474c;
	background: #FFF;
	top: 50%;
	left: 50%;
	margin-top: -100px;
	margin-left: -500px;
	text-align: center;
	
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}

form label{
	display: block;
	font-size: 20px;
	color: #59848e;
	margin-top: 60px;
	margin-bottom: 20px;
}

form input[type=text]{
	border: 1px solid #30474c;
	width: 190px;
	height: 30px;
	
	font-size: 18px;
	color: #585858;
	
	-webkit-box-shadow: 0 0 3px #30474c;
	-moz-box-shadow: 0 0 3px #30474c;
	box-shadow: 0 0 3px #30474c;
	margin-bottom: 20px;
	
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}

form input[type=submit]{
	background: #7ab0bc;
	width: 190px;
	height: 30px;
	border: none;
	font-size: 18px;
	color: #fff;
	cursor: pointer;
	
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	-ms-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}

form input[type=submit]:hover{
	background: #689ea9;
}

/* ============================= */
/* ! Layout for mobile version   */
/* ============================= */

@media handheld, only screen and (max-width: 767px) {

	body {
		
	}

}


/* ========================================== */
/* ! Provide higher res assets for iPhone 4   */
/* ========================================== */

@media only screen and (-webkit-min-device-pixel-ratio: 2) { 

/*	.logo {
		background: url(logo2x.jpg) no-repeat;
		background-size: 212px 303px;
	}*/

}