/* MEDIA QUERIES
   ================================================== */
#container {
	max-width: 1000px;
	min-width: 320px;
	width: 95%;
	margin: 0 auto 40px;
	overflow: hidden;
}

@media (max-width:1250px) {
	#frontend-options {
		display: none;
	}
}
@media (max-width: 1070px) {
	#portfolio.four-column .portfolio-items li {
		width: 23.6%;
		margin: 0 1% 2% 0;
	}
}
@media (max-width:1058px) {
	.full-width {
		width: 94%;
		padding: 0;
		margin: 0 10px 15px;
	}
	.portfolio-detail {
		width: 96%;
		margin: 0 2.5% 15px;
	}
	#main-wrap {
		width: 99%;
	}
	.main-column {
		width: 630px;
		float: none;
		margin: 0 10px 10px;
	}
	.article-wrap {
		margin-bottom: 20px;
	}
	.other-posts, #showcase {
		display: none;
	}
	#portfolio, #portfolio.two-column, #portfolio.four-column {
		margin: 15px 0 0 15px;
	}
 	#recent-posts {
		margin: 15px 0 20px 15px;
		width: 97.2%;
	}
	.main-posts {
		width: 66%;
		margin: 0;
	}
	.main-posts .post.first {
		width: 47.4%;
		margin: 0 3.7% 0 0;
	}
	.main-posts .post {
		width: 47.4%;
		min-height: 398px;
	}
	.main-posts .post .image, .main-posts .post .image img {
		width: 100%;
	}
	.other-posts {
		width: 30.5%;
	}
	#footer-wrap {
		padding: 20px 15px 20px 15px;
	}
	a.view-all, #portfolio a.view-all {
		right: 15px;
	}
	.header-wrap {
		padding: 15px;
		height: auto;
		min-height: 45px;
		width: 95.7%;
	}
	.heading {
		height: 30px;
		width: 96%;
		margin: 15px;
		overflow: visible;
		position: relative;
	}
	.home .heading {
		height: 25px;
		margin: 12px 15px 18px;
		z-index: 2;
		position: absolute;
		top: 0;
		right: 0;
	}
	.main-wrap {
		position: relative;
	}
	.home .heading h1 {
		display: none;
	}
	.heading h1 {
		font-size: 1.8em;
		width: auto;
		margin: 5px;
		margin-left: 0;
		padding-left: 0;
	}
	.heading ul.social-icons {
		position: absolute;
		right: 0;
		top: 0;
	}
	#portfolio-filter {
    	margin: 0 0 0 10px;
    	padding: 0;
		height: auto;
	}
	#portfolio-filter li {
		float: left;
		font-size: 1.2em;
		margin: 5px;
	}
	#portfolio .portfolio-items li {
		width: 30.8%;
		margin: 0 0 3% 2.5%;
	}
	#portfolio .portfolio-items li.first {
		margin: 0 0 3% 0;
	}
	#portfolio.two-column .portfolio-items li {
		width: 46.7%;
		margin: 0 2.8% 3.2% 0;
	}
	#portfolio.three-column .portfolio-items li {
		margin: 0 2.5% 3% 0;
		width: 30.5%;
	}
	.post-slider, .post-slider img, img.attachment-post-main-image {
		width: 100%;
		height: 355px;
	}
	#blog img.attachment-post-main-image {
		width: 100%;
		height: auto;
	}
	.post-item.gallery .post-slider, .post-item.gallery .post-slider img, .post-item.gallery img.attachment-post-main-image {
		width: 100%;
		height: 280px;
	}
	.full-width .post-slider {
		height: 355px;
    	width: 100%;
	}
	.post-item .overlay, .image .overlay, .video .overlay {
		width: 100%;
		height: 280px;
		display: none;
	}
	.gallery .overlay {
		width: 630px;
		height: 280px;
	}
	.gallery-overlay, .image-overlay {
		width: 600px;
		height: 280px;
	}
	.post-item {
		/*width: 100%;*/
		margin-bottom: 2%;
	}
	.post-item .heading {
		width: 600px;
	}
	.post-item .heading {
		height: 24px;
    	line-height: 23px;
	}
	.post-item .excerpt, .full-width .post-item .excerpt {
		height: auto;
		width: 97%;
	}
	.post-item a.read-more {
		width: 8%;
	}
	.full-width-image, .main-post-image {
		margin: 0 0 2% 0;
		position: relative;
		width: 100%;
		height: auto;
	    z-index: 1;
	}
	.full-width-image img, .gallery-overlay {
		width: 100%;
		height: auto;
	}
	.video-overlay {
		width: 600px;
		height: auto;
	}
	.portfolio-detail .detail-info {
		float: none;
		width: 300px;
		margin-bottom: 10px;
	}
	.portfolio-detail .related {
		display: none;
	}
	.portfolio-detail .detail-body {
		float: none;
		width: 100%;
	}
	.gallery-overlay {
		display: none;
	}
	.video-overlay {
		display: none;
	}
	.contact-page iframe {
		display: none;
	}
	.contactform #commentsText {
		width: 74%;
		min-width: 74%;
		max-width: 74%;
	}
	.contactform button[type=submit] {
		float: left;
		margin-left: 74%;
	}
	#comment-area {
		display: none;
	}
	#sidebar, .left-sidebar #sidebar {
		float: left;
		margin: 20px 0 0 10px;
	}
	#sidebar section h3 {
		margin-right: 0;
	}
}
@media (max-width:1024px) {
	#container {
		padding: 0 10px;
		margin-bottom: 10px;
	}
	#frontend-options {
			display: none;
	}
}
@media (max-width:960px) {
	.left-sidebar .main-column {
		float: left;
	}
	#sidebar, .left-sidebar #sidebar {
		width: 94%;	
	}
	#sidebar section li.tweet {
		width: auto;
	}
}
@media (max-width:868px) {
	.meta .the-comments {
		display: none;
	}
}
@media (max-width:830px) {
	#mobile-navigation {
		display: block;
	}
	#main-navigation {
		display: none;
	}
	.post-item .date-overlay {
		top: 233px;
	}
}
@media (max-width:760px) {
	#portfolio.four-column .portfolio-items li,  {
		width: 31.5%;
		margin: 0 1% 2% 0;
	}
	.post-slider, .post-slider img, img.attachment-post-main-image {
		width: 100%;
		height: 280px;
	}
	.full-width .post-slider {
		height: 280px;
    	width: 100%;
	}
	.post-item .overlay, .image .overlay, .video .overlay {
		display: none;
	}
	.full-width-image img, .main-post-image img {
		width: 100%;
		height: 280px;
	}

}
@media (max-width:700px) {
	#main-navigation ul li:hover ul, #main-navigation ul li.sfHover ul {
		display: none!important;
	}
	.heading {
		width: 95.5%;
	}
	#portfolio .portfolio-items li, #portfolio .portfolio-items li.first {
		width: 47.4%;
		margin: 0 2% 2.5% 0;
	}
	#portfolio.three-column .portfolio-items li {
		width: 47.4%;
		margin: 0 2% 2.5% 0;
	}
	.main-posts {
		width: 100%;
		margin-right: 0;
	}
	.main-posts .post {
		min-height: 420px;
	}
	.main-posts .post.first {
		margin: 0 2.5% 0 0;
	}
	.main-posts .post .image, .main-posts .post .image img {
		width: 100%;
	}
	.meta .the-comments {
		display: block;
	}
	.footer-widgets section {
	    width: 46%;
	}
}
@media (max-width:680px) {
	.post-slider, .post-slider img, img.attachment-post-main-image {
		width: 100%;
		height: 250px;
	}
	.main-column {
		width: 95%;
	}
	.post-item {
		width: 100%;
	}
	.post-item .heading {
		width: 300px;
	}
	.post-item .overlay, .gallery .overlay, .image .overlay, .video .overlay {
		width: 100%;
		height: auto;
	}
	.full-width .post-slider {
		height: 250px;
    	width: 100%;
	}
	.post-item .excerpt, .full-width .post-item .excerpt {
		height: auto;
	}
	.post-item h2.link-heading {
		width: auto;
	}
	.full-width-image, .main-post-image {
		margin: 0 0 2% 0;
		position: relative;
		width: 100%;
		height: auto;
	    z-index: 1;
	}
	.full-width-image img, .main-post-image img {
		width: 100%;
		height: auto;
	}
	.post-item.gallery .post-slider, .post-item.gallery .post-slider img, .post-item.gallery img.attachment-post-main-image {
		width: 100%;
		height: 250px;
	}
	.gallery-overlay, .video-overlay {
		display: none;
		width: 100%;
		height: auto;
	}
	.post-item .date {
		display: none;
	}
	.navigation {
		margin: 20px 10px 0;
	}
	.detail-body a.view-link {
		margin-right: 10px;
	}
	.post-item .date-overlay {
		top: 165px;
	}
	.contactform #commentsText {
		width: 60%;
		min-width: 60%;
		max-width: 60%;
	}
	.contactform button[type=submit] {
		float: left;
		margin-left: 60%;
	}
}
@media (max-width:590px) {
	.header-wrap {
		padding: 15px 2.3%;
	}
	header {
		float: none;
		height: auto;
		margin: 0 auto 10px;
	}
	header #logo {
		text-align: center;
	}
	#mobile-navigation {
		float: none;
		width: 75%;
		margin: 0 auto;
	}
	.main-posts .post .image, .main-posts .post .image img {
		height: auto;
	}
}
@media (max-width:560px) {
	.heading {
		width: 94.5%;
	}
	#portfolio.four-column .portfolio-items li {
		width: 47.5%;
		margin: 0 1% 2% 0;
	}
	.meta .the-comments {
		display: none;
	}
	.full-width .meta .the-comments {
		display: block;
	}
	.post-item.quote-item .excerpt, .post-item .excerpt.link {
		width: 73%;
	}
	.post-item h2.link-heading {
		margin: 3px 0;
	}
}
@media (max-width:500px) {
	#portfolio.two-column .portfolio-items li figure, #portfolio.two-column li figure img {
		width: 100%;
		height: auto;
	}
	#portfolio.two-column .portfolio-items li {
		width: 95%;
		height: auto;
		margin: 0 0 3% 0;
	}
	.full-width-image img, .main-post-image img, .gallery-overlay, .video-overlay, .post-slider, .post-slider img, img.attachment-post-main-image, .post-item .overlay, .gallery .overlay, .image .overlay, .video .overlay {
		width: 100%;
		height: auto;
	}
	.post-item.gallery .post-slider, .post-item.gallery .post-slider img {
		height: 250px;
	}
	.post-item.gallery img.attachment-post-main-image {
		width: 100%;
		/*height: 161px;*/
		height: auto;
	}
	.full-width .post-slider {
		height: 161px;
    	width: 100%;
	}
	.post-item .date-overlay {
		top: 125px;
	}
}
@media (max-width:400px) {
	.heading {
		width: 93.5%;
	}
	.post-item.gallery .post-slider, .post-item.gallery .post-slider img {
		height: 200px;
	}
	#portfolio .portfolio-items li, #portfolio .portfolio-items li.first, #portfolio.three-column .portfolio-items li {
		width: 95%;
	}
	.footer-widgets section {
	    width: 90%;
	}
	#portfolio.four-column .portfolio-items li {
		width: 95%;
		margin: 0 1% 2.5% 0;
	}
	.main-posts .post.first, .main-posts .post {
		width: 95%;
		margin: 0 1% 2.5% 0;	
	}
	.post-item.aside .excerpt {
		width: 94%;
	}
}